@model Zadanie.Models.FormModel
@{
    ViewData["Title"] = "Form-Created";
}

<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
    <br />
    @Html.DisplayNameFor(model => model.HowMuch):   @Html.DisplayFor(model => model.HowMuch)
    <br />
    <br />
    <br />

    <script>
       var x =  @Html.DisplayFor(model => model.HowMuch);
        var y = '@Html.DisplayFor(model => model.Name)';


        if (x < 1) document.write("Wprowadziłeś za małą liczbę potwórzeń...")
        else if (x > 5) document.write("Wprowadziłeś za dużą liczbę powtórzeń...")
        else {
            for (var i = 0; i < x; i++) {
                document.write(i + 1 + ". " + y + "<br />");
            }
        }
                

    </script>


</div>

